.pagina__container {
    margin: 0 150px 0px 210px;
    padding: 50px 0 0px 0;
    font-family: "Play", sans-serif;
    font-style: normal;
}

.chartArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    column-gap: 40px;
    margin-bottom: 20px;
}

.chart {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.chartMain,
.ChartNotFoundCategories {
    background-color: #fefefe;
    grid-area: 2 / 1 / span 2 / span 3;
    min-height: 500px;
    padding: 15px;
}

.chartDay,
.ChartNotFoundDays {
    background-color: white;
    grid-area: 2 / 4 / span 2 / span 4;
    min-height: 500px;
    padding: 15px;
}

.title-charts {
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    font-weight: 600;
}

.title-main-chart {
    grid-area: 1 / 1 / span 1 / span 3;
}

.title-day-chart {
    grid-area: 1 / 4 / span 1 / span 4;
}

.titulo-da-pagina {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}

.titulo-da-pagina button {
    align-self: center;
    margin-bottom: 10px;
}

.titulo-da-pagina span {
    padding: 0;
    margin-right: 20px;
    font-size: 60px;
    font-weight: 400;
}

.titulo-da-pagina input {
    border: none;
    background-color: #f3f4f8;
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 400;
    color: var(--color-primary);
    box-sizing: border-box;
}

#mes {
    width: 85px;
    outline: none;
    box-shadow: none;
}

#ano {
    width: 160px;
    outline: none;
    box-shadow: none;
}

.totais {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card-dash {
    display: flex;
    gap: 10px;
    font-size: 35px;
    font-weight: 400;
    background-color: white;
    padding: 10px 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.img-cards-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.img-dash {
    height: auto;
    width: 50px;
}

.img-dash-notFound {
    width: 400px;
    height: auto;
}

.chartNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}
