:root {
    --color-primary: #444;
    --color-secondary: #0087ff;
}

.pagina__container {
    margin: 0 150px 0px 210px;
    padding: 100px 0 50px 0;
}

.gastos-fixos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gastos-fixos-totais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
    padding: 10px;
    margin-bottom: 40px;
}

.card-gasto-fixo {
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.card-gasto-fixo--totais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    font-size: 40px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 10px;
}

.filtros-gastos-fixos {
    border-radius: 4px;
}

.img-gastos-fixos-totais {
    display: flex;
    align-items: center;
}

.img-gastos-fixos-totais img {
    height: 100px;
}

.img-cards-gastos-fixos {
    height: auto;
    width: 50px;
}

.img-gastos-fixos {
    display: flex;
    align-items: flex-end;
}

.titulo-da-pagina {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    font-size: 60px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
}

.titulo-da-pagina span {
    padding: 0;
    margin-right: 10px;
}

.titulo-da-pagina input {
    border: none;
    background-color: #f3f4f8;
    font-size: 60px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary);
    box-sizing: border-box;
}

#mes {
    width: 85px;
    outline: none;
    box-shadow: none;
}

#ano {
    width: 160px;
    outline: none;
    box-shadow: none;
}

#buscar {
    margin: 0 0 0 10px;
}

.buttons-search-update {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Formulario de lançamento de despesas diárias*/
.form-atualizar-lancamentos {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100rem;
    background-color: #f3f3f3;
    padding: 2rem 2rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.modal_lancamentos_fixos_header {
    margin-bottom: 20px;
}

.form_lancamentos_fixos select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.linhas_lancamentos_fixos {
    margin: 0 1rem;
    display: grid;
    /* grid-template-columns: 1fr 8fr 3fr 1fr; */
    grid-template-columns: 160px 500px 100px 1fr;
    gap: 20px;
    justify-content: center;
}

.linhas_lancamentos_fixos input {
    font-size: 1rem;
}

.linhas_lancamentos_fixos span {
    font-weight: bold;
}

.btn--close-lancamentos_fixos {
    font-family: inherit;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: red;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    padding: 4px 11px;
}

.btn--remover-lancamentos_fixos {
    background: red;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.buttons-update {
    display: flex;
    gap: 10px;
}
