.pagina__container {
    margin: 0 150px 0px 210px;
    padding: 50px 0 50px 0;
}

.lancamentos {
    display: grid;
    grid-template-columns: 150px 150px 450px 1fr 50px;
    align-items: center;
}

.categoria_Lancamento-Diario {
    font-style: italic;
    color: #555;
    font-weight: bold;
}

.lista-gastos {
    display: grid;
    gap: 10px;
}

/*Formulario de lançamento de despesas diárias*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100rem;
    background-color: #f3f3f3;
    padding: 2rem 2rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.modal_lancamentos_diarios_header {
    margin-bottom: 20px;
}

.form_lancamentos_diarios select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.linhas_lancamentos_diarios {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.linhas_lancamentos_diarios input {
    font-size: 1rem;
}

.linhas_lancamentos_diarios span {
    font-weight: bold;
}

.btn--close-lancamentos_diarios {
    font-family: inherit;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: red;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.btn--cadastrar-lancamentos_diarios {
    grid-column: 1 / 3; /* ocupa da coluna 1 até a 2 (antes da 3) */
    width: 250px;
}

.btn--adicionar-lancamentos_diarios {
    width: 200px;
}

.btn--remover-lancamentos_diarios {
    background: red;
}

.valorgasto_lancamentos_diarios {
    width: 130px;
}

/*Barra de buscas*/
.butaoPadrao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    margin: 25px 0 0 0;
}

.edit-line {
    font-size: 25px;
    cursor: pointer;
}

.btn-edit {
    height: 40px;
    width: 25px;
}

.btns-form {
    position: relative;
}

.btn--atualizar-lancamentos_diarios {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
