:root {
    --color-primary: #444;
    --color-secondary: #0087ff;
}

.pagina__container {
    margin: 0 150px 0px 210px;
    padding: 100px 0 50px 0;
}

.gastos-fixos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gastos-fixos-totais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
    padding: 10px;
    margin-bottom: 40px;
}

.card-gasto-fixo {
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.card-gasto-fixo--totais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    font-size: 40px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    gap: 10px;
}

.filtros-gastos-fixos {
    border-radius: 4px;
}

.img-gastos-fixos-totais {
    display: flex;
    align-items: center;
}

.img-gastos-fixos-totais img {
    height: 100px;
}

.img-cards-gastos-fixos {
    height: auto;
    width: 50px;
}

.img-gastos-fixos {
    display: flex;
    align-items: flex-end;
}

.titulo-da-pagina {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    font-size: 60px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
}

.titulo-da-pagina span {
    padding: 0;
    margin-right: 10px;
}

.titulo-da-pagina input {
    border: none;
    background-color: #f3f4f8;
    font-size: 60px;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary);
    box-sizing: border-box;
}

#mes {
    width: 85px;
    outline: none;
    box-shadow: none;
}

#ano {
    width: 160px;
    outline: none;
    box-shadow: none;
}

#buscar {
    margin: 0 0 0 10px;
}
